@media (min-width: 768px) {
  .challenges-sidebar {
  	position:fixed;
  	left: 0px;
  	height: 100%;
  	min-width: 250px;
    border-right: 2px solid #7D7D7D;

    h3 {
      padding-left: 10px;
      padding-right: 10px;
      i {
        cursor: pointer;
      }
    }

    .fa {
      background-color: white;
      border-radius: 100%;
    }

    .navbar {
    	border-radius: 0;

        .navbar-collapse {
          padding: 0;
          max-height: none;
        }
    }

    .side-item {
      height: 100px;
      border-radius: 0px;
    }

    .list-group {
        overflow-y: auto;
        max-height: 670px;
        overflow-x: hidden;

        a {
            padding: 5px;
            padding-left: 8px;
            padding-right: 8px;

            p {
                margin-top: -30px;
                float:right;
            }
        }
    }

    .dark-text {
        color: black;
    }
  }

  .no-challenges h4 {
    border-top: 1px solid #888;
    padding: 40px;
  }

}
