<div class="challenges-sidebar">
  <div class="navbar navbar-default sidebar" role="navigation">
    <div>
        <h3>Your Challenges <a ui-sref-active="active" ui-sref="app.challenge"><i ng-click="toggleModal()" class="fa fa-plus-circle fa-lg fa-pull-right"></i></a></h3>

        <div class="nav list-group" id="challengelist" >
            <div ng-repeat="challenge in challenges">
                <a class="list-group-item" ng-click="saveScrollPosition()" ui-sref-active="active" ui-sref="app.challenge({id:{{challenge.challenge_id}}})">
                    <b>{{challenge.user_team}}</b> vs <b>{{challenge.oppo_team}}</b> <br>
                    {{challenge.task_name}} <br>
                    {{challenge.start_date}} to {{challenge.end_date}}
                </a>
            </div>
        </div>
    </div>
  </div>
</div>
