#about {
    .topSection{
        height: 200px;
        background-color: lightgray;
    }

    img {
        width: 40%;
        height: auto;
    }

    .topSection h1 {
        display: inline-block;
    }


}