
@media (min-width: 768px) {
  .navbar {
  	margin-bottom: 0px !important;
  	border-radius: 0px !important;
  }

  .navbar-brand {
  	padding: 0px 15px;
  }

  .navbar-brand>img {
  	height: 100%;
  }
}
