#register {
    .topSection{
        height: 200px;
        background-color: lightgray;
    }

    .topSection img {
        display: inline-block;
        width: 140px;
        height: 140px;


        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    .topSection h1 {
        display: inline-block;
    }


}
