@import url('https://fonts.googleapis.com/css?family=Oswald|Droid+Sans' rel='stylesheet' type='text/css')
@import 'root';
@import '../../app/controllers/**/style';
@import '../../app/directives/**/style';


html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	margin-top: 50px;
	height: 90%;
	background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.pointer {
	cursor: pointer;
}
