@import url('https://fonts.googleapis.com/css?family=Oswald|Droid+Sans' rel='stylesheet' type='text/css')
@import 'root';
@import '../../app/controllers/**/style';
@import '../../app/directives/**/style';


html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Droid Sans', sans-serif;
	margin-top: 50px;
	height: 90%;
	background-color: #EEE;

	/* Portrait tablets and small desktops */
    /* Landscape phones and portrait tablets */
    /* Portrait phones and smaller */
    @media (max-width: 991px) {
    	margin-top: 105px;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.pointer {
	cursor: pointer;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.topSection {
    height: 175px;
    background-color: white;
    overflow-x: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid #888;
}
