html {
  position: relative;
  min-height: 100%;
}
.topSection {
  height: 200px;
  background-color: #d3d3d3;
}
.topSection img {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.topSection h1 {
  display: inline-block;
}
