
@media (min-width: 768px) {
  .exercises-sidebar .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .exercises-sidebar h3 {
    padding-left: 10px;
    padding-right: 10px;
  }


}
