#create_team_modal {

    .badge-danger {
        background-color: #D9534F;
        float: right;
    }

    .formErrorMsg {
        color: red;
    }

    .space-right {
    	margin-right: 10px;
    }

    

}
