#exercise {
    .topSection{
    }

    .bottomSection {
        width: 40%;

        .challenge-title {
            float: left;
            display: inline;
        }
        .challenge-teams {
            float: left;
            margin-left: 30px;
            display: inline;
        }
    }

    .dark-text {
        color: black;
    }


}
