#exercise {
    .topSection{
        height: 200px;

        img {
            width: 130px;
            height: 130px;
            float:left;
            margin-top: 20px;
        }
    }

    .bottomSection {
        width: 40%;

        .challenge-title {
            float: left;
            display: inline;
        }
        .challenge-teams {
            float: left;
            margin-left: 30px;
            display: inline;
        }
    }

    .dark-text {
        color: black;
    }


}
