#exercise {
    .topSection{
        height: 175px;
        width: 100%;
        background-color: white;
        overflow-x: hidden;
        margin-bottom: 20px;
        border-bottom: 2px solid #888;

        img {
            width: 130px;
            height: 130px;
            float:left;
            margin-top: 20px;
        }
    }

    .bottomSection {
        width: 40%;

        .challenge-title {
        }
        .challenge-teams {

        }
    }

    .dark-text {
        color: black;
    }


}
