

<div id="exercise">
    <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <exercises-sidebar></exercises-sidebar>
          </div>
          <div class="col-sm-9">
              <div class="topSection row" ng-show="exercise_selected">
                  <!-- <div class="col-sm-2">
                      <img src="{{avatar}}" alt="/img/team_avatars/default-avatar.png" class="img-thumbnail">
                  </div>
                  <div class="col-sm-10">
                      <h1>Team {{team_id}}</h1>

                      <button class="btn btn-info players_dropdown_btn" ng-click="players_dropdown = !players_dropdown">
                          Players
                          <span class="caret"></span>
                      </button>
                      <div class="list-group players_dropdown" ng-show="players_dropdown" >
                          <div ng-repeat="player in players">
                              <a class="list-group-item">{{player.username}}</a>
                          </div>
                      </div>
                  </div> -->
              </div>
              <div class="topSection" ng-show="!exercise_selected">
                  <h2> Select an Exercise </h2>
              </div>
          </div>
        </div>
    </div>

</div>
