<div class="teams-sidebar">
  <div class="navbar navbar-default sidebar" role="navigation">
    <div>
        <h3>Your Teams <a ng-click="toggleModal()"><i class="fa fa-plus-circle fa-lg fa-pull-right"></i></a></h3>

        <div class="nav list-group" >
            <div ng-repeat="team in teams">
                <a class="list-group-item side-item" ui-sref-active="active" ui-sref="app.team({id:{{team.team_id}}})">
                    <img src="{{team.avatar}}" alt="/img/team_avatars/default-avatar.png" class="side-thumbnail">
                    <h4>{{team.team_name}}</h4>
                    <h6>{{team.players.length}} members</h6>
                    <p>Challenge ends in 3 days</p>
                </a>
            </div>
        </div>
        <div class="no-teams" ng-show="teams.length <= 0">
            <h4>No teams to show</h4>
        </div>
    </div>
  </div>
</div>
