#team {
    .row {
        margin: 0px;
    }

    .col-md-3 {
        padding: 0px;
    }

    .col-md-9 {
        padding: 0px;
    }

    .topSection {
        span {
            font-family: 'Droid Sans', sans-serif;
        }

        span+span::before {
            content: ", ";
            display: inline;
        }

        img {
            width: 130px;
            height: 130px;
            float:left;
            margin-top: 20px;
        }
    }
    
    .bottomSection {
    
    }
}
