#team {
    .topSection {
        span {
            font-family: 'Droid Sans', sans-serif;
        }

        span+span::before {
            content: ", ";
            display: inline;
        }

        img {
            width: 130px;
            height: 130px;
            float:left;
            margin-top: 20px;
        }
        li {
            padding-top: 2px;
            padding-bottom: 2px;
            margin-bottom: 5px;
            margin-left: 10px;
        }
        .fa-envelope {
            padding-top: 2px;
        }
        .fa-phone {
            padding-top: 3px;
        }
    }
    .bottomSection {
    
    }
}
