#home {

	background-image: URL('/img/banner.jpg');
	background-size: cover;
	min-height: 626px;
	color: white;
	text-align: center;

	.jumbotron {
		background-color: rgba(0, 0, 0, 0.4);
		height: 50%;
	}

	h1 {
		color: white;
		width: 50%;
	}

}