#home {

	background-image: URL('/img/banner.jpg');
	background-size: cover;
	height: 1000px;
	color: white;
	text-align: center;

	.jumbotron {
		background-color: rgba(0, 0, 0, 0.4);
		height: 425px;
	}

	hr {
		width: 50%;
	}

}